.logo {
  height: 6em;
  padding: 1.5em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 10s linear;
  }
}

.reactExpressHeader{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.reactExpressPanel{
  display: flex;
  flex-direction: row;
  gap:88px;
}

.reactExpressPanelItems{
  display: flex;
  justify-content: center;
  align-items: end;
  padding:10px;
  width:200px;
  height: 200px;
  background: rgb(20,158,202);
  background: linear-gradient(235deg, rgba(20,158,202,1) 0%, rgba(20,202,126,1) 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px;
  border-radius: 15px;
}
.reactExpressPanelItems p{
  color:white;
  font-weight: bolder;
}